.layout {
    max-width: 175px;
}

.row {
    padding: 6px 10px;
    display: grid;
    grid-template-columns: 52px 52px 52px;
}
.text {
    text-align: center;
}

@media screen and (max-width: 850px) {
    .row {
        grid-template-columns: 40px 40px 40px;
    }

    .text {
        margin-left: -35px;
        font-size: 12px;
        text-align: center;
    }
}
